@import url(reset.css);
@import url(base.css);
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  background: #000;
  color: #aaa;
  font-family: 'Helvetica Neue';
  font-weight: 300;
  padding: 0 30px 100px;
}
header.site {
  padding: 2em 0;
  text-align: center;
}
header.site .heading {
  padding-bottom: .5em;
}
.stage-container {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
}
#stage-bg {
  background: #121212 url(../images/stage-bg.png);
  display: block;
  box-shadow: 0 0 15px 0px #19BAF8;
  border: 1px solid #cca;
  width: 100%;
  height: auto;
}
#stage {
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}
/* ==== display ============================================= */
#display {
  background: #fff;
  color: #000;
}
.player-display {
  float: left;
  width: 50%;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.player-display > .name {
  font-size: 2em;
}
.player-display .weapon-display ul {
  display: none;
}
.player-display .weapon-display.active-weapon {
  padding: .5em 10px;
  background: #ffa;
  margin: .5em 20px .5em 0;
  border: 1px solid #ccc;
}
.player-display .weapon-display.active-weapon ul {
  display: block;
}
.player-display.dead .is-dead {
  z-index: 1;
  opacity: 1;
}
.player-display .is-dead {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 60px 10px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  height: 100%;
  background: rgba(180, 180, 180, 0.8);
  color: #990000;
  font-size: 3em;
}
.weapon-display .name {
  font-weight: bold;
}
